QScrollArea#marketsScrollArea { background: transparent; }
QWidget#marketsScrollAreaWidgetContents { background: transparent; }

QScrollArea#portfoliosSummaryScrollArea { background: transparent; }
QWidget#portfoliosSummaryScrollAreaWidgetContents { background: transparent; }

QDialog#LanguageSelectorDialog QGroupBox, QCheckBox
{
    color: #00557f;
}

QDialog#LanguageSelectorDialog QToolButton
{
    color: #00557f;
    background-color: rgba(0, 170, 255, 50);
}

QMenu#systemTrayMenu
{
    color: #00557f;
}

QStatusBar
{
    color: #00557f;
}

QToolTip
{
    color: #00557f;
    background-color: white;
}

QMessageBox > QLabel
{
    color: #00557f;
}

QMessageBox QPushButton
{
    color: #00557f;
    background-color: rgba(0, 170, 255, 50);
}

QTextEdit
{
    color: #00557f;
}

QWidget#introductionPage,
QWidget#homePage
{
    border-image: url(:/icons/light_mode/introduction_light_background.png);
}

QPushButton#verificationButton,
QPushButton#noVerificationButton,
QPushButton#selectAllUsdMarketsButton,
QPushButton#deselectAllUsdMarketsButton,
QPushButton#selectAllBtcMarketsButton,
QPushButton#deselectAllBtcMarketsButton,
QPushButton#selectAllEthMarketsButton,
QPushButton#deselectAllEthMarketsButton,
QPushButton#selectAllUsdtMarketsButton,
QPushButton#deselectAllUsdtMarketsButton,
QPushButton#selectAllEurMarketsButton,
QPushButton#deselectAllEurMarketsButton,
QPushButton#cancelAllOrdersButton,
QPushButton#cancelSessionButton,
QPushButton#sessionSummaryButton,
QPushButton#usdPortfolioLiquifyAllButton,
QPushButton#btcPortfolioLiquifyAllButton,
QPushButton#ethPortfolioLiquifyAllButton,
QPushButton#usdtPortfolioLiquifyAllButton,
QPushButton#eurPortfolioLiquifyAllButton
{
    color: #00557f;
    background-color: rgba(0, 170, 255, 50);
}

QPushButton#cancelSessionButton,
QPushButton#checkupButton
{
    color:#00557f;
    background-color: rgb(255, 170, 0);
}


QPushButton#sessionSummaryButton,
QPushButton#executeSessionButton,
QPushButton#exitSessionSummaryButton
{
    color:#00557f;
    background-color: mediumaquamarine;
}


QCommandLinkButton#analyticsButton,
QCommandLinkButton#marketsButton,
QCommandLinkButton#traderButton,
QCommandLinkButton#executionButton,
QCommandLinkButton#portfoliosButton,
QCommandLinkButton#settingsButton,
QCommandLinkButton#homeButton
{
    background-color: rgba(0, 170, 255,50);
    border: 1px solid QLinearGradient( x1: 0, y1: 0,
        x2: 0, y2: 1, stop: 0 #9CD8F2, stop: 1 #9CD8F2);
}

QCommandLinkButton#analyticsButton:hover,
QCommandLinkButton#marketsButton:hover,
QCommandLinkButton#traderButton:hover,
QCommandLinkButton#executionButton:hover,
QCommandLinkButton#portfoliosButton:hover,
QCommandLinkButton#settingsButton:hover,
QCommandLinkButton#homeButton:hover
{
    background-color: rgba(0, 242, 255,50);
    border: 1px solid QLinearGradient( x1: 0, y1: 0,
        x2: 0, y2: 1, stop: 0 #9CD8F2, stop: 1 #9CD8F2);
}

QCommandLinkButton#analyticsButton:pressed,
QCommandLinkButton#marketsButton:pressed,
QCommandLinkButton#traderButton:pressed,
QCommandLinkButton#executionButton:pressed,
QCommandLinkButton#portfoliosButton:pressed,
QCommandLinkButton#settingsButton:pressed,
QCommandLinkButton#homeButton:pressed
{
    background-color: rgba(0, 128, 255,50);
    border: 1px solid QLinearGradient( x1: 0, y1: 0,
        x2: 0, y2: 1, stop: 0 #9CD8F2, stop: 1 #9CD8F2);
}

QCommandLinkButton#analyticsButton:checked,
QCommandLinkButton#marketsButton:checked,
QCommandLinkButton#traderButton:checked,
QCommandLinkButton#executionButton:checked,
QCommandLinkButton#portfoliosButton:checked,
QCommandLinkButton#settingsButton:checked,
QCommandLinkButton#homeButton:checked
{
    background-color: rgba(0, 100, 255,50);
    border: 1px solid QLinearGradient( x1: 0, y1: 0,
        x2: 0, y2: 1, stop: 0 #9CD8F2, stop: 1 #9CD8F2);
}


QComboBox#marketsComboBox,
QComboBox#marketsFilterComboBox
{
    background-color: #9CD8F2;
    color: #00557f;
}


MarketList#marketsList
{
    alternate-background-color: rgb(222, 255, 254);
}


QLabel#lastPriceLabel,
QLabel#bidPriceLabel,
QLabel#askPriceLabel,
QLabel#middlePriceLabel,
QLabel#baseVolumeLabel,
QLabel#volumeLabel,
QLabel#high24HourLabel,
QLabel#low24HourLabel,
QLabel#allUsdMarketsLabel,
QLabel#allBtcMarketsLabel,
QLabel#allEthMarketsLabel,
QLabel#allUsdtMarketsLabel,
QLabel#allEurMarketsLabel,

QLabel#selectedUsdMarketsLabel,
QLabel#selectedBtcMarketsLabel,
QLabel#selectedEthMarketsLabel,
QLabel#selectedUsdtMarketsLabel,
QLabel#selectedEurMarketsLabel,

QLabel#usdPortfolioRealisedPnLLabel,
QLabel#usdPortfolioUnrealisedPnLLabel,
QLabel#usdPortfolioOpenPositionsLabel,
QLabel#usdPortfolioClosedPositionsLabel,
QLabel#usdPortfolioInitialCapitalLabel,
QLabel#usdPortfolioCurrentCapitalLabel,
QLabel#usdPortfolioEquityLabel,

QLabel#btcPortfolioInitialCapitalLabel,
QLabel#btcPortfolioRealisedLnLLabel,
QLabel#btcPortfolioUnrealisedPnLLabel,
QLabel#btcPortfolioOpenPositionsLabel,
QLabel#btcPortfolioClosedPositionsLabel,
QLabel#btcPortfolioInitialCapitalLabel,
QLabel#btcPortfolioCurrentCapitalLabel,
QLabel#btcPortfolioEquityLabel,

QLabel#ethPortfolioRealisedPnLLabel,
QLabel#ethPortfolioUnrealisedPnLLabel,
QLabel#ethPortfolioOpenPositionsLabel,
QLabel#ethPortfolioClosedPositionsLabel,
QLabel#ethPortfolioInitialCapitalLabel,
QLabel#ethPortfolioCurrentCapitalLabel,
QLabel#ethPortfolioEquityLabel,

QLabel#usdtPortfolioRealisedPnLLabel,
QLabel#usdtPortfolioUnrealisedPnLLabel,
QLabel#usdtPortfolioOpenPositionsLabel,
QLabel#usdtPortfolioClosedPositionsLabel,
QLabel#usdtPortfolioInitialCapitalLabel,
QLabel#usdtPortfolioCurrentCapitalLabel,
QLabel#usdtPortfolioEquityLabel,

QLabel#eurPortfolioRealisedPnLLabel,
QLabel#eurPortfolioUnrealisedPnLLabel,
QLabel#eurPortfolioOpenPositionsLabel,
QLabel#eurPortfolioClosedPositionsLabel,
QLabel#eurPortfolioInitialCapitalLabel,
QLabel#eurPortfolioCurrentCapitalLabel,
QLabel#eurPortfolioEquityLabel,

QLabel#openOrdersLabel,
QLabel#closedOrdersLabel,

QLabel#usdPortfolioSessionSummaryLabel,
QLabel#usdPortfolioSessionSummaryInitialCapitalLabel,
QLabel#usdPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#usdPortfolioSessionSummaryReturnOnInvestmentLabel,
QLabel#usdPortfolioSessionSummaryTotalEquityLabel,
QLabel#usdPortfolioSessionSummaryRealisedPnLLabel,

QLabel#usdtPortfolioSessionSummaryLabel,
QLabel#usdtPortfolioSessionSummaryInitialCapitalLabel,
QLabel#usdtPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#usdtPortfolioSessionSummaryReturnOnInvestmentLabel,
QLabel#usdtPortfolioSessionSummaryTotalEquityLabel,
QLabel#usdtPortfolioSessionSummaryRealisedPnLLabel,

QLabel#btcPortfolioSessionSummaryLabel,
QLabel#btcPortfolioSessionSummaryInitialCapitalLabel,
QLabel#btcPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#btcPortfolioSessionSummaryTotalEquityLabel,
QLabel#btcPortfolioSessionSummaryRealisedPnLLabel,
QLabel#btcPortfolioSessionSummaryReturnOnInvestmentLabel,

QLabel#eurPortfolioSessionSummaryLabel,
QLabel#eurPortfolioSessionSummaryInitialCapitalLabel,
QLabel#eurPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#eurPortfolioSessionSummaryTotalEquityLabel,
QLabel#eurPortfolioSessionSummaryRealisedPnLLabel,
QLabel#eurPortfolioSessionSummaryReturnOnInvestmentLabel,

QLabel#ethPortfolioSessionSummaryLabel,
QLabel#ethPortfolioSessionSummaryInitialCapitalLabel,
QLabel#ethPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#ethPortfolioSessionSummaryReturnOnInvestmentLabel,
QLabel#ethPortfolioSessionSummaryTotalEquityLabel,
QLabel#ethPortfolioSessionSummaryRealisedPnLLabel
{
    color: #00557f;
    background-color: qlineargradient(spread:reflect, x1:1, y1:0.482773, x2:0,
        y2:0.420591, stop:0 rgba(156, 216, 242, 255), stop:1 rgba(255, 255, 255, 255));
}


QLabel#configurationLabel
{
    color: #00557f;
    background-color: #FCF4A3;
}


QLabel#clarificationLabel
{
    color: #00557f;
    background-color: #D0F0C0;
}

QLabel#introductionLabel
{
    color: #00557f;
    background-color: rgba(156, 216, 242, 0.5);
}

QLabel#versionInformationLabel
{
    color: #00557f;
    background-color: rgba(156, 216, 242, 0.5);
}


QLCDNumber#lastPrice,
QLCDNumber#bidPrice,
QLCDNumber#askPrice,
QLCDNumber#middlePrice,
QLCDNumber#baseVolume,
QLCDNumber#volume,
QLCDNumber#high24Hour,
QLCDNumber#low24Hour,
QLCDNumber#usdPortfolioRealisedPnL,
QLCDNumber#usdPortfolioUnrealisedPnL,
QLCDNumber#usdPortfolioInitialCapital,
QLCDNumber#usdPortfolioCurrentCapital,
QLCDNumber#usdPortfolioEquity,
QLCDNumber#btcPortfolioInitialCapital,
QLCDNumber#btcPortfolioRealisedPnL,
QLCDNumber#btcPortfolioUnrealisedPnL,
QLCDNumber#btcPortfolioInitialCapital,
QLCDNumber#btcPortfolioCurrentCapital,
QLCDNumber#btcPortfolioEquity,
QLCDNumber#ethPortfolioRealisedPnL,
QLCDNumber#ethPortfolioUnrealisedPnL,
QLCDNumber#ethPortfolioInitialCapital,
QLCDNumber#ethPortfolioCurrentCapital,
QLCDNumber#ethPortfolioEquity,
QLCDNumber#usdtPortfolioRealisedPnL,
QLCDNumber#usdtPortfolioUnrealisedPnL,
QLCDNumber#usdtPortfolioInitialCapital,
QLCDNumber#usdtPortfolioCurrentCapital,
QLCDNumber#usdtPortfolioEquity,
QLCDNumber#eurPortfolioRealisedPnL,
QLCDNumber#eurPortfolioUnrealisedPnL,
QLCDNumber#eurPortfolioInitialCapital,
QLCDNumber#eurPortfolioCurrentCapital,
QLCDNumber#eurPortfolioEquity,

QLCDNumber#usdPortfolioSessionSummaryInitialCapital,
QLCDNumber#usdPortfolioSessionSummaryCurrentCapital,
QLCDNumber#usdPortfolioSessionSummaryTotalEquity,
QLCDNumber#usdPortfolioSessionSummaryRealisedPnL,
QLCDNumber#usdPortfolioSessionSummaryReturnOnInvestment,

QLCDNumber#usdtPortfolioSessionSummaryInitialCapital,
QLCDNumber#usdtPortfolioSessionSummaryCurrentCapital,
QLCDNumber#usdtPortfolioSessionSummaryReturnOnInvestment,
QLCDNumber#usdtPortfolioSessionSummaryTotalEquity,
QLCDNumber#usdtPortfolioSessionSummaryRealisedPnL,

QLCDNumber#btcPortfolioSessionSummaryInitialCapital,
QLCDNumber#btcPortfolioSessionSummaryCurrentCapital,
QLCDNumber#btcPortfolioSessionSummaryTotalEquity,
QLCDNumber#btcPortfolioSessionSummaryRealisedPnL,
QLCDNumber#btcPortfolioSessionSummaryReturnOnInvestment,

QLCDNumber#eurPortfolioSessionSummaryInitialCapital,
QLCDNumber#eurPortfolioSessionSummaryCurrentCapital,
QLCDNumber#eurPortfolioSessionSummaryTotalEquity,
QLCDNumber#eurPortfolioSessionSummaryRealisedPnL,
QLCDNumber#eurPortfolioSessionSummaryReturnOnInvestment,

QLCDNumber#ethPortfolioSessionSummaryInitialCapital,
QLCDNumber#ethPortfolioSessionSummaryCurrentCapital,
QLCDNumber#ethPortfolioSessionSummaryReturnOnInvestment,
QLCDNumber#ethPortfolioSessionSummaryTotalEquity,
QLCDNumber#ethPortfolioSessionSummaryRealisedPnL,
QLCDNumber#ethPortfolioSessionSummaryReturnOnInvestment
{
    color: #00557f;
    background-color: #9CD8F2;
}


QTableWidget#usdtMarketsTable,
QTableWidget#ethMarketsTable,
QTableWidget#btcMarketsTable,
QTableWidget#usdMarketsTable,
QTableWidget#btcMarketsTable,
QTableWidget#ethMarketsTable,
QTableWidget#usdtMarketsTable,
QTableWidget#eurMarketsTable,
QTableWidget#selectedUsdMarketsTable,
QTableWidget#selectedBtcMarketsTable,
QTableWidget#selectedEthMarketsTable,
QTableWidget#selectedUsdtMarketsTable,
QTableWidget#selectedEurMarketsTable,
QTableWidget#usdOpenPositionsTable,
QTableWidget#usdClosedPositionsTable,
QTableWidget#btcOpenPositionsTable,
QTableWidget#btcClosedPositionsTable,
QTableWidget#ethOpenPositionsTable,
QTableWidget#ethClosedPositionsTable,
QTableWidget#usdtOpenPositionsTable,
QTableWidget#usdtClosedPositionsTable,
QTableWidget#eurOpenPositionsTable,
QTableWidget#eurClosedPositionsTable,
QTableWidget#openOrdersTable,
QTableWidget#closedOrdersTable
{
    alternate-background-color: rgb(222, 255, 254);
}

QTreeWidget#strategiesTree,
QTreeWidget#risksTree
{
    alternate-background-color: rgb(222, 255, 254);
}

QDoubleSpinBox#selectedUsdMarketsCapital,
QDoubleSpinBox#selectedBtcMarketsCapital,
QDoubleSpinBox#selectedEthMarketsCapital,
QDoubleSpinBox#selectedUsdtMarketsCapital,
QDoubleSpinBox#selectedEurMarketsCapital
{
    color:#00557f;
    background-color: #9CD8F2;
    font: bold;
}

QHeaderView
{
    color: #00557f;
    background-color: #9CD8F2;
}


QToolBox#toolBox::tab
{
    color: #00557f;
    background-color: #9CD8F2;
}

QToolBox#toolBox::tab::selected
{
    color: #00557f;
    background-color: #2ab0eb;
}

QWidget#usdPortfolioWidget  { background-color: rgb(255, 255, 255); }
QWidget#btcPortfolioWidget { background-color: rgb(255, 255, 255); }
QWidget#ethPortfolioWidget { background-color: rgb(255, 255, 255); }
QWidget#usdtPortfolioWidget { background-color: rgb(255, 255, 255); }
QWidget#eurPortfolioWidget { background-color: rgb(255, 255, 255); }


QLabel#quoteVolume
{
    color: rgb(0, 85, 127);
}

QLabel#lastPrice
{
    color: purple;
}
