QScrollArea#marketsScrollArea { background: transparent; }
QWidget#marketsScrollAreaWidgetContents { background: transparent; }

QScrollArea#portfoliosSummaryScrollArea { background: transparent; }
QWidget#portfoliosSummaryScrollAreaWidgetContents { background: transparent; }

QDialog#LanguageSelectorDialog
{
    color: cyan;
    background-color: #011841;
}

QDialog#LanguageSelectorDialog QCheckBox, QGroupBox
{
    color: cyan;
    background-color: #011841;
}

QMenu#systemTrayMenu
{
    color: cyan;
    background-color: #011841;
}

QMessageBox > QLabel
{
    color: cyan;
}

QToolTip
{
    color: cyan;
    background-color: #011841;
}

MainWindow, QMessageBox
{
    background-color: #011841;
}

QWidget#introductionPage,
QWidget#homePage
{
    border-image: url(:/icons/dark_mode/introduction_dark_background.png);
}


QTextEdit
{
    color: cyan;
    background-color: #011341;
}

QStatusBar
{
    color: cyan;
}

QToolBar
{
    background-color: #011841;
}

QHeaderView
{
    color: CornflowerBlue;
    background-color: #011841;
}


QToolButton
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0498FA,
        stop: 0.1 #0498FA, stop: 0.5 #0498FA, stop: 0.9 #0498FA, stop: 1 #0498FA);
    border-width: 1px;
    border-color: #0144B5;
    border-style: solid;
    border-radius: 6;
    padding: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

QToolButton:hover
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0,
        x2: 0, y2: 1, stop: 0 #0EF7FE, stop: 1 #0EF7FE);
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0498FA,
        stop: 0.1 #0498FA, stop: 0.5 #0498FA, stop: 0.9 #0498FA, stop: 1 #0498FA);
}

QToolButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #003690,
        stop: 0.1 #003690, stop: 0.5 #003690, stop: 0.9 #003690, stop: 1 #003690);
}

QToolButton:checked
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0,
        x2: 0, y2: 1, stop: 0 #0EF7FE, stop: 1 #0EF7FE);
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0498FA,
        stop: 0.1 #0498FA, stop: 0.5 #0498FA, stop: 0.9 #0498FA, stop: 1 #0498FA);
}


QPushButton#cancelSessionButton,
QPushButton#checkupButton
{
    border: none;
    color: cyan;
    background-color: rgba(255,215,0,60);
}


QPushButton#cancelSessionButton:hover,
QPushButton#checkupButton:hover
{
    border: none;
    color: cyan;
    background-color: rgba(255,215,0,100);
}

QPushButton#cancelSessionButton:pressed,
QPushButton#checkupButton:pressed
{
    border: none;
    color: cyan;
    background-color: rgba(255,215,0,40);
}

QPushButton#sessionSummaryButton,
QPushButton#executeSessionButton
{
    border:none;
    color: cyan;
    background-color: rgba(0,255,0,60);
}

QPushButton#sessionSummaryButton:hover,
QPushButton#executeSessionButton:hover
{
    border:none;
    color: cyan;
    background-color: rgba(0,255,0,100);
}

QPushButton#sessionSummaryButton:pressed,
QPushButton#executeSessionButton:pressed
{
    border:none;
    color: cyan;
    background-color: rgba(0,255,0,40);
}


QMessageBox QPushButton,
QPushButton#verificationButton,
QPushButton#noVerificationButton,
QPushButton#selectAllUsdMarketsButton,
QPushButton#deselectAllUsdMarketsButton,
QPushButton#selectAllBtcMarketsButton,
QPushButton#deselectAllBtcMarketsButton,
QPushButton#selectAllEthMarketsButton,
QPushButton#deselectAllEthMarketsButton,
QPushButton#selectAllUsdtMarketsButton,
QPushButton#deselectAllUsdtMarketsButton,
QPushButton#selectAllEurMarketsButton,
QPushButton#deselectAllEurMarketsButton,
QPushButton#cancelAllOrdersButton,
QCommandLinkButton#analyticsButton,
QCommandLinkButton#marketsButton,
QCommandLinkButton#traderButton,
QCommandLinkButton#executionButton,
QCommandLinkButton#portfoliosButton,
QCommandLinkButton#settingsButton,
QCommandLinkButton#homeButton,
QPushButton#usdPortfolioLiquifyAllButton,
QPushButton#btcPortfolioLiquifyAllButton,
QPushButton#ethPortfolioLiquifyAllButton,
QPushButton#usdtPortfolioLiquifyAllButton,
QPushButton#eurPortfolioLiquifyAllButton
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0498FA,
        stop: 0.1 #0498FA, stop: 0.5 #0498FA, stop: 0.9 #0498FA, stop: 1 #0498FA);
    border-width: 1px;
    border-color: #0144B5;
    border-style: solid;
    border-radius: 6;
    padding: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

QMessageBox QPushButton:hover,
QPushButton#verificationButton:hover,
QPushButton#noVerificationButton:hover,
QPushButton#selectAllUsdMarketsButton:hover,
QPushButton#deselectAllUsdMarketsButton:hover,
QPushButton#selectAllBtcMarketsButton:hover,
QPushButton#deselectAllBtcMarketsButton:hover,
QPushButton#selectAllEthMarketsButton:hover,
QPushButton#deselectAllEthMarketsButton:hover,
QPushButton#selectAllUsdtMarketsButton:hover,
QPushButton#deselectAllUsdtMarketsButton:hover,
QPushButton#selectAllEurMarketsButton:hover,
QPushButton#deselectAllEurMarketsButton:hover,
QPushButton#cancelAllOrdersButton:hover,
QCommandLinkButton#analyticsButton:hover,
QCommandLinkButton#marketsButton:hover,
QCommandLinkButton#traderButton:hover,
QCommandLinkButton#executionButton:hover,
QCommandLinkButton#portfoliosButton:hover,
QCommandLinkButton#settingsButton:hover,
QCommandLinkButton#homeButton:hover,
QPushButton#usdPortfolioLiquifyAllButton:hover,
QPushButton#btcPortfolioLiquifyAllButton:hover,
QPushButton#ethPortfolioLiquifyAllButton:hover,
QPushButton#usdtPortfolioLiquifyAllButton:hover,
QPushButton#eurPortfolioLiquifyAllButton:hover
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0EF7FE, stop: 1 #0EF7FE);
}


QMessageBox QPushButton:pressed,
QPushButton#verificationButton:pressed,
QPushButton#noVerificationButton:pressed,
QPushButton#selectAllUsdMarketsButton:pressed,
QPushButton#deselectAllUsdMarketsButton:pressed,
QPushButton#selectAllBtcMarketsButton:pressed,
QPushButton#deselectAllBtcMarketsButton:pressed,
QPushButton#selectAllEthMarketsButton:pressed,
QPushButton#deselectAllEthMarketsButton:pressed,
QPushButton#selectAllUsdtMarketsButton:pressed,
QPushButton#deselectAllUsdtMarketsButton:pressed,
QPushButton#selectAllEurMarketsButton:pressed,
QPushButton#deselectAllEurMarketsButton:pressed,
QPushButton#cancelAllOrdersButton:pressed,
QCommandLinkButton#analyticsButton:pressed,
QCommandLinkButton#marketsButton:pressed,
QCommandLinkButton#traderButton:pressed,
QCommandLinkButton#executionButton:pressed,
QCommandLinkButton#portfoliosButton:pressed,
QCommandLinkButton#settingsButton:pressed,
QCommandLinkButton#homeButton:pressed,
QPushButton#usdPortfolioLiquifyAllButton:pressed,
QPushButton#btcPortfolioLiquifyAllButton:pressed,
QPushButton#ethPortfolioLiquifyAllButton:pressed,
QPushButton#usdtPortfolioLiquifyAllButton:pressed,
QPushButton#eurPortfolioLiquifyAllButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #003690,
        stop: 0.1 #003690, stop: 0.5 #003690, stop: 0.9 #003690, stop: 1 #003690);
}


QCommandLinkButton#analyticsButton:checked,
QCommandLinkButton#marketsButton:checked,
QCommandLinkButton#traderButton:checked,
QCommandLinkButton#executionButton:checked,
QCommandLinkButton#portfoliosButton:checked,
QCommandLinkButton#settingsButton:checked,
QCommandLinkButton#homeButton:checked
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0e5afe,
        stop: 0.1 #0e5afe, stop: 0.5 #0e5afe, stop: 0.9 #0e5afe, stop: 1 #0e5afe);
}

QLabel#lastPriceLabel,
QLabel#bidPriceLabel,
QLabel#askPriceLabel,
QLabel#middlePriceLabel,
QLabel#baseVolumeLabel,
QLabel#volumeLabel,
QLabel#high24HourLabel,
QLabel#low24HourLabel,
QLabel#allUsdMarketsLabel,
QLabel#allBtcMarketsLabel,
QLabel#allEthMarketsLabel,
QLabel#allUsdtMarketsLabel,
QLabel#allEurMarketsLabel,
QLabel#selectedUsdMarketsLabel,
QLabel#selectedBtcMarketsLabel,
QLabel#selectedEthMarketsLabel,
QLabel#selectedUsdtMarketsLabel,
QLabel#selectedEurMarketsLabel,

QLabel#usdPortfolioRealisedPnLLabel,
QLabel#usdPortfolioUnrealisedPnLLabel,
QLabel#usdPortfolioInitialCapitalLabel,
QLabel#usdPortfolioCurrentCapitalLabel,
QLabel#usdPortfolioEquityLabel,

QLabel#usdPortfolioOpenPositionsLabel,
QLabel#usdPortfolioClosedPositionsLabel,

QLabel#btcPortfolioRealisedLnLLabel,
QLabel#btcPortfolioUnrealisedPnLLabel,
QLabel#btcPortfolioInitialCapitalLabel,
QLabel#btcPortfolioCurrentCapitalLabel,
QLabel#btcPortfolioEquityLabel,

QLabel#btcPortfolioOpenPositionsLabel,
QLabel#btcPortfolioClosedPositionsLabel,

QLabel#ethPortfolioRealisedPnLLabel,
QLabel#ethPortfolioUnrealisedPnLLabel,
QLabel#ethPortfolioInitialCapitalLabel,
QLabel#ethPortfolioCurrentCapitalLabel,
QLabel#ethPortfolioEquityLabel,

QLabel#ethPortfolioOpenPositionsLabel,
QLabel#ethPortfolioClosedPositionsLabel,

QLabel#usdtPortfolioRealisedPnLLabel,
QLabel#usdtPortfolioUnrealisedPnLLabel,
QLabel#usdtPortfolioInitialCapitalLabel,
QLabel#usdtPortfolioCurrentCapitalLabel,
QLabel#usdtPortfolioEquityLabel,

QLabel#usdtPortfolioOpenPositionsLabel,
QLabel#usdtPortfolioClosedPositionsLabel,

QLabel#eurPortfolioRealisedPnLLabel,
QLabel#eurPortfolioUnrealisedPnLLabel,
QLabel#eurPortfolioInitialCapitalLabel,
QLabel#eurPortfolioCurrentCapitalLabel,
QLabel#eurPortfolioEquityLabel,

QLabel#eurPortfolioOpenPositionsLabel,
QLabel#eurPortfolioClosedPositionsLabel,

QLabel#openOrdersLabel,
QLabel#closedOrdersLabel,

QLabel#usdPortfolioSessionSummaryLabel,
QLabel#usdPortfolioSessionSummaryInitialCapitalLabel,
QLabel#usdPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#usdPortfolioSessionSummaryReturnOnInvestmentLabel,
QLabel#usdPortfolioSessionSummaryTotalEquityLabel,
QLabel#usdPortfolioSessionSummaryRealisedPnLLabel,

QLabel#usdtPortfolioSessionSummaryLabel,
QLabel#usdtPortfolioSessionSummaryInitialCapitalLabel,
QLabel#usdtPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#usdtPortfolioSessionSummaryReturnOnInvestmentLabel,
QLabel#usdtPortfolioSessionSummaryTotalEquityLabel,
QLabel#usdtPortfolioSessionSummaryRealisedPnLLabel,

QLabel#btcPortfolioSessionSummaryLabel,
QLabel#btcPortfolioSessionSummaryInitialCapitalLabel,
QLabel#btcPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#btcPortfolioSessionSummaryTotalEquityLabel,
QLabel#btcPortfolioSessionSummaryRealisedPnLLabel,
QLabel#btcPortfolioSessionSummaryReturnOnInvestmentLabel,

QLabel#eurPortfolioSessionSummaryLabel,
QLabel#eurPortfolioSessionSummaryInitialCapitalLabel,
QLabel#eurPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#eurPortfolioSessionSummaryTotalEquityLabel,
QLabel#eurPortfolioSessionSummaryRealisedPnLLabel,
QLabel#eurPortfolioSessionSummaryReturnOnInvestmentLabel,

QLabel#ethPortfolioSessionSummaryLabel,
QLabel#ethPortfolioSessionSummaryInitialCapitalLabel,
QLabel#ethPortfolioSessionSummaryCurrentCapitalLabel,
QLabel#ethPortfolioSessionSummaryReturnOnInvestmentLabel,
QLabel#ethPortfolioSessionSummaryTotalEquityLabel,
QLabel#ethPortfolioSessionSummaryRealisedPnLLabel
{
    color: CornflowerBlue;
    background-color: qlineargradient(spread:reflect, x1:1, y1:0.482773,
    x2:0, y2:0.420591, stop:0 rgba(1, 89, 222, 255), stop:1 rgba(1, 24, 65, 255));
}


QLCDNumber#lastPrice,
QLCDNumber#bidPrice,
QLCDNumber#askPrice,
QLCDNumber#middlePrice,
QLCDNumber#baseVolume,
QLCDNumber#volume,
QLCDNumber#high24Hour,
QLCDNumber#low24Hour,

QLCDNumber#usdPortfolioRealisedPnL,
QLCDNumber#usdPortfolioUnrealisedPnL,
QLCDNumber#usdPortfolioInitialCapital,
QLCDNumber#usdPortfolioCurrentCapital,
QLCDNumber#usdPortfolioEquity,

QLCDNumber#btcPortfolioRealisedPnL,
QLCDNumber#btcPortfolioUnrealisedPnL,
QLCDNumber#btcPortfolioInitialCapital,
QLCDNumber#btcPortfolioCurrentCapital,
QLCDNumber#btcPortfolioEquity,

QLCDNumber#ethPortfolioRealisedPnL,
QLCDNumber#ethPortfolioUnrealisedPnL,
QLCDNumber#ethPortfolioInitialCapital,
QLCDNumber#ethPortfolioCurrentCapital,
QLCDNumber#ethPortfolioEquity,

QLCDNumber#usdtPortfolioRealisedPnL,
QLCDNumber#usdtPortfolioUnrealisedPnL,
QLCDNumber#usdtPortfolioInitialCapital,
QLCDNumber#usdtPortfolioCurrentCapital,
QLCDNumber#usdtPortfolioEquity,

QLCDNumber#eurPortfolioRealisedPnL,
QLCDNumber#eurPortfolioUnrealisedPnL,
QLCDNumber#eurPortfolioInitialCapital,
QLCDNumber#eurPortfolioCurrentCapital,
QLCDNumber#eurPortfolioEquity,

QLCDNumber#usdPortfolioSessionSummaryInitialCapital,
QLCDNumber#usdPortfolioSessionSummaryCurrentCapital,
QLCDNumber#usdPortfolioSessionSummaryTotalEquity,
QLCDNumber#usdPortfolioSessionSummaryRealisedPnL,
QLCDNumber#usdPortfolioSessionSummaryReturnOnInvestment,

QLCDNumber#eurPortfolioSessionSummaryInitialCapital,
QLCDNumber#eurPortfolioSessionSummaryCurrentCapital,
QLCDNumber#eurPortfolioSessionSummaryTotalEquity,
QLCDNumber#eurPortfolioSessionSummaryRealisedPnL,
QLCDNumber#eurPortfolioSessionSummaryReturnOnInvestment,

QLCDNumber#usdtPortfolioSessionSummaryInitialCapital,
QLCDNumber#usdtPortfolioSessionSummaryCurrentCapital,
QLCDNumber#usdtPortfolioSessionSummaryReturnOnInvestment,
QLCDNumber#usdtPortfolioSessionSummaryTotalEquity,
QLCDNumber#usdtPortfolioSessionSummaryRealisedPnL,

QLCDNumber#btcPortfolioSessionSummaryInitialCapital,
QLCDNumber#btcPortfolioSessionSummaryCurrentCapital,
QLCDNumber#btcPortfolioSessionSummaryTotalEquity,
QLCDNumber#btcPortfolioSessionSummaryRealisedPnL,
QLCDNumber#btcPortfolioSessionSummaryReturnOnInvestment,

QLCDNumber#ethPortfolioSessionSummaryInitialCapital,
QLCDNumber#ethPortfolioSessionSummaryCurrentCapital,
QLCDNumber#ethPortfolioSessionSummaryReturnOnInvestment,
QLCDNumber#ethPortfolioSessionSummaryTotalEquity,
QLCDNumber#ethPortfolioSessionSummaryRealisedPnL,
QLCDNumber#ethPortfolioSessionSummaryReturnOnInvestment
{
    color: CornflowerBlue;
    background-color: rgba(1, 89, 222, 255);
}


QListWidget#marketsList
{
    background-color: #6b96d1;
    alternate-background-color: #3d79cc;
}


QTableWidget
{
    background-color: #6b96d1;
    alternate-background-color: #3d79cc;
}

QTreeWidget
{
    background-color: #6b96d1;
    alternate-background-color: #3d79cc;
}


QLabel#quoteVolume
{
    color: Cyan;
}

QLabel#lastPrice
{
    color: #ffddf4;
}


QWidget#usdPortfolioWidget  { background-color: #011841; }
QWidget#btcPortfolioWidget { background-color: #011841; }
QWidget#ethPortfolioWidget { background-color: #011841; }
QWidget#usdtPortfolioWidget { background-color: #011841; }
QWidget#eurPortfolioWidget { background-color: #011841; }


QTabWidget::pane
{
    background-color: #011841;;
}

 QTabBar::tab
{
    color: CornflowerBlue;
    background-color: qlineargradient(spread:reflect, x1:0.453, y1:0, x2:0.495,
        y2:1, stop:0 rgba(1, 89, 222, 255), stop:1 rgba(1, 24, 65, 255));
    border-width: 1px;
    border-color: #011841;
    border-style: solid;
    border-radius: 3;
    padding: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

QTabBar::tab:hover
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0,
        y2: 1, stop: 0 #0EF7FE, stop: 1 #0EF7FE);
    border-bottom-color: #011841;
}

QWidget#marketSummaryTabWidget
{
    color: CornflowerBlue;
    background-color: #011841;
}


QComboBox#marketsComboBox,
QComboBox#marketsFilterComboBox
{
    background-color: rgb(23, 162, 209);
    color: blue;
}

QLineEdit
{
    color: CornflowerBlue;
    background-color: #011841;
}

QDoubleSpinBox#selectedUsdMarketsCapital,
QDoubleSpinBox#selectedBtcMarketsCapital,
QDoubleSpinBox#selectedEthMarketsCapital,
QDoubleSpinBox#selectedUsdtMarketsCapital,
QDoubleSpinBox#selectedEurMarketsCapital
{
    color: CornflowerBlue;
    background-color: #011841;
    font: bold;
}


QScrollBar
{
    background-color: #011841;
    margin: 0;
    height: 6px;
    width: 10px;
}

QScrollBar::handle
{
    border: 1px solid #555555;
    border-radius: 4px;
    margin: 1px;
}


QScrollBar::handle:vertical
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop:0 blue, stop:1 blue);
    min-height: 10px;
    min-width: 10px;
}

QScrollBar::handle:vertical:hover
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop:0 blue, stop:1 blue);
}


QScrollBar::handle:horizontal
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop:0 blue, stop:1 blue);
    min-height: 4px;
    min-width: 15px;
}


QScrollBar::handle:horizontal:hover
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop:0 blue, stop:1 blue);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background-color: transparent;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal
{
    height: 0;
    width: 0;
}



QToolBox#toolBox::tab
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0498FA,
        stop: 0.1 #0498FA, stop: 0.5 #0498FA, stop: 0.9 #0498FA, stop: 1 #0498FA);
    border-width: 1px;
    border-color: #0144B5;
    border-style: solid;
    border-radius: 6;
    padding: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}


QToolBox#toolBox::tab:hover
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0,
        x2: 0, y2: 1, stop: 0 #0EF7FE, stop: 1 #0EF7FE);
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0498FA,
        stop: 0.1 #0498FA, stop: 0.5 #0498FA, stop: 0.9 #0498FA, stop: 1 #0498FA);
}


QLabel#configurationLabel,
QLabel#clarificationLabel
{
    color: cyan;
    background-color: rgba(0, 0, 0,0.5);
}


QLabel#introductionLabel
{
    color: cyan;
    background-color: rgba(0, 0, 0, 0.5);
}

QLabel#versionInformationLabel
{
    color: cyan;
    background-color: rgba(0, 0, 0, 0.5);
}
